/* Barra de pesquisa e logo */
.header {
  height: 10px; /* Ajuste o valor conforme necessário */
  background-color: #f7b500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5em;
}

.logo-title-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-title {
  font-size: 20px; /* Reduzir o tamanho da fonte do título */
  color: #333;
  margin: 0;
}

.search-bar {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end; /* Alinha a barra de pesquisa à direita */
}

.search-bar input {
  padding: 8px 12px;
  font-size: 14px;
  width: 250px; /* Definir um tamanho fixo para a barra de pesquisa */
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-right: 20px; /* Espaço à direita */
}

/* Botão para abrir Menu */
.menu-icon {
  position: fixed;
  top: 15px; /* Ajuste para não ficar sobrepondo o cabeçalho */
  left: 20px;
  z-index: 2000; /* Garantir que o ícone de menu esteja sempre visível */
}

.menu-icon img {
  width: 30px;  /* Diminuir o tamanho da imagem do menu */
  height: 30px;
  cursor: pointer;
}

/* Menu Lateral */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Menu lateral começa fora da tela */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: left 0.3s ease;
  padding: 20px;
  z-index: 999; /* Garantir que o menu lateral fique abaixo do cabeçalho */
}

.sidebar.open {
  left: 0; /* Abre o menu lateral */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.sidebar ul li a:hover {
  color: #ccc;
}

.submenu {
  list-style: none;
  padding-left: 20px;
}

.submenu li {
  margin: 5px 0;
}

.highlight {
  background-color: #444;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Ajuste no layout para quando a barra superior estiver fixa */
main {
  padding-top: 80px; /* Espaço para a barra fixa */
}

/* Imagem central com fundo e sobreposição de texto */
.central-image {
  position: relative;
  margin-top: 80px; /* Espaço para a barra de navegação */
}

.central-image .background-image {
  width: 100%;
  height: auto;
  display: block;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.central-logo {
  width: 100px;
  height: auto;
}

.slogan {
  font-size: 24px;
  margin-top: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  .info-section {
      flex-direction: column;
      align-items: center;
  }

  .info-section .image img {
      max-width: 80%;
  }

  .info-section .text {
      width: 100%;
      text-align: center;
  }

  /* Ajustes para dispositivos móveis */
  .menu-icon {
    left: 10px; /* Ajuste a posição do ícone */
  }
}
